In [1]:
# !pip install xgboost==2.0.3
# Deduction_percent_others_binary
import numpy as np
import pandas as pd
import io

In [5]:
df_1 = pd.read_csv('C:\\Users\\eprescription\\Deduction_percent_1402.csv',sep=',')
df_2 = pd.read_csv('C:\\Users\\eprescription\\Deduction_percent_1403.csv',sep=',')

C:\Users\eprescription\AppData\Local\Temp\2\ipykernel_12004\2113074097.py:1: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv('C:\\Users\\eprescription\\Deduction_percent_1402.csv',sep=',')

In [6]:
df = pd.concat([df_1,df_2])

In [7]:
print(df.shape)
print(df_1.shape)
print(df_2.shape)
print(df_1.shape[0]+df_2.shape[0])

(917436, 39)
(801680, 38)
(115756, 39)
917436

In [8]:
print(df.groupby('CLAIM_ID').size().value_counts())
print(df.shape)
print(df_1.shape)
print(df_2.shape)

1    917436
dtype: int64
(917436, 39)
(801680, 38)
(115756, 39)

In [9]:
print(df_1.columns)
print(df_2.columns)
print(df.columns)

Index(['YEAR', 'CLAIM_ID', 'ID', 'khadamat_moshavere', 'pezeshk_jarah',
       'komak_jarah', 'daroo_otagh_amal', 'lavazem_amal', 'sonograghi',
       'radiogeraghi', 'navarnegari', 'azmayeshat', 'asibshenasi', 'visit',
       'bihoshi', 'othagh_amal', 'hoteling', 'parastari', 'sayer',
       'HCP_TYPE_NAME', 'HCP_TYPE_ID', 'CLAIM_NUMBER', 'EFFECTIVE_DATE_TARRIF',
       'EXTRA_FIRST_INSURANCE_AMOUNT', 'EXTRA_PREF_CURRENCY_AMOUNT',
       'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT', 'IS_FULL_TIME_PROFESSIONAL',
       'IS_FULL_TIME_ANESTHESIA', 'SERVICE_ITEM_NAME', 'SERVICE_ITEM_CODE',
       'GLOBAL_NAME', 'GLOBAL_NATIONAL_CODE', 'GENDER_TYPE', 'INSURED_AGE',
       'ACCREDITATION_LEVEL_NAME', 'ACCREDITATION_LEVEL_ID',
       'DEDUCTION_AMOUNT_PERCENT', 'PREF_AMOUNT_PERCENT'],
      dtype='object')
Index(['   ', 'YEAR', 'CLAIM_ID', 'ID', 'khadamat_moshavere', 'pezeshk_jarah',
       'komak_jarah', 'daroo_otagh_amal', 'lavazem_amal', 'sonograghi',
       'radiogeraghi', 'navarnegari', 'azmayeshat', 'asibshenasi', 'visit',
       'bihoshi', 'othagh_amal', 'hoteling', 'parastari', 'sayer',
       'HCP_TYPE_NAME', 'HCP_TYPE_ID', 'CLAIM_NUMBER', 'EFFECTIVE_DATE_TARRIF',
       'EXTRA_FIRST_INSURANCE_AMOUNT', 'EXTRA_PREF_CURRENCY_AMOUNT',
       'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT', 'IS_FULL_TIME_PROFESSIONAL',
       'IS_FULL_TIME_ANESTHESIA', 'SERVICE_ITEM_NAME', 'SERVICE_ITEM_CODE',
       'GLOBAL_NAME', 'GLOBAL_NATIONAL_CODE', 'GENDER_TYPE', 'INSURED_AGE',
       'ACCREDITATION_LEVEL_NAME', 'ACCREDITATION_LEVEL_ID',
       'DEDUCTION_AMOUNT_PERCENT', 'PREF_AMOUNT_PERCENT'],
      dtype='object')
Index(['YEAR', 'CLAIM_ID', 'ID', 'khadamat_moshavere', 'pezeshk_jarah',
       'komak_jarah', 'daroo_otagh_amal', 'lavazem_amal', 'sonograghi',
       'radiogeraghi', 'navarnegari', 'azmayeshat', 'asibshenasi', 'visit',
       'bihoshi', 'othagh_amal', 'hoteling', 'parastari', 'sayer',
       'HCP_TYPE_NAME', 'HCP_TYPE_ID', 'CLAIM_NUMBER', 'EFFECTIVE_DATE_TARRIF',
       'EXTRA_FIRST_INSURANCE_AMOUNT', 'EXTRA_PREF_CURRENCY_AMOUNT',
       'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT', 'IS_FULL_TIME_PROFESSIONAL',
       'IS_FULL_TIME_ANESTHESIA', 'SERVICE_ITEM_NAME', 'SERVICE_ITEM_CODE',
       'GLOBAL_NAME', 'GLOBAL_NATIONAL_CODE', 'GENDER_TYPE', 'INSURED_AGE',
       'ACCREDITATION_LEVEL_NAME', 'ACCREDITATION_LEVEL_ID',
       'DEDUCTION_AMOUNT_PERCENT', 'PREF_AMOUNT_PERCENT', '   '],
      dtype='object')

In [ ]:
df

In [11]:
print(df.groupby('CLAIM_ID').size().value_counts())
print(df.groupby('HCP_TYPE_ID').size().value_counts())

1    917436
dtype: int64
917436    1
dtype: int64

In [12]:
df.reset_index(drop=True,inplace=True)

In [14]:
df['original_index'] = df.index

In [16]:
dff = df.copy()

In [17]:
df.drop(columns=['YEAR', 'CLAIM_ID', 'ID','HCP_TYPE_NAME','HCP_TYPE_NAME', 'HCP_TYPE_ID', 'CLAIM_NUMBER', 'EFFECTIVE_DATE_TARRIF','EXTRA_PREF_CURRENCY_AMOUNT','SERVICE_ITEM_NAME','GLOBAL_NAME','ACCREDITATION_LEVEL_NAME','PREF_AMOUNT_PERCENT', '   '],axis=1,inplace=True)

In [18]:
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [19]:
df.describe()

,khadamat_moshavere,pezeshk_jarah,komak_jarah,daroo_otagh_amal,lavazem_amal,sonograghi,radiogeraghi,navarnegari,azmayeshat,asibshenasi,...,sayer,EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT,IS_FULL_TIME_PROFESSIONAL,IS_FULL_TIME_ANESTHESIA,SERVICE_ITEM_CODE,GLOBAL_NATIONAL_CODE,INSURED_AGE,ACCREDITATION_LEVEL_ID,DEDUCTION_AMOUNT_PERCENT,original_index
count,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000,...,917436.000000,663903.000000,913612.000000,672740.000000,9.174360e+05,917436.000000,917436.000000,917436.000000,917436.000000,917436.000000
mean,0.298250,30.645158,0.298969,1.503234,5.156288,0.038964,0.170510,0.086651,0.439010,0.128618,...,0.747239,0.098154,0.441113,0.664955,1.982010e+09,990215.160595,37.943350,2.137364,0.006924,458717.500000
std,0.570733,15.965490,0.366617,1.023160,3.715783,0.186474,0.271641,0.394590,0.258390,0.297199,...,2.423553,0.073616,0.501493,0.476744,1.897962e+12,83.910449,18.563696,0.416042,0.033644,264841.105121
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.001400e+05,990000.000000,0.000000,2.000000,0.000000,0.000000
25%,0.100848,15.729841,0.000000,0.813121,2.568603,0.000000,0.047757,0.000000,0.306493,0.000000,...,0.057647,0.032947,0.000000,0.000000,5.005950e+05,990180.000000,25.000000,2.000000,0.000000,229358.750000
50%,0.189693,30.883261,0.252884,1.184236,4.325665,0.020706,0.077763,0.010666,0.396023,0.000000,...,0.112992,0.101609,0.000000,1.000000,5.021550e+05,990210.000000,34.000000,2.000000,0.000000,458717.500000
75%,0.338508,38.560106,0.403589,1.795286,6.125351,0.034927,0.205338,0.121406,0.562302,0.079186,...,0.175123,0.148875,1.000000,1.000000,5.021700e+05,990260.000000,48.000000,2.000000,0.000000,688076.250000
max,21.375407,100.000000,9.903374,35.776437,95.197376,27.117756,18.206225,32.081430,30.975642,14.038728,...,100.000000,1.000000,8.000000,4.000000,1.817922e+15,990665.000000,123.000000,6.000000,1.000000,917435.000000

In [20]:
df.loc[df['IS_FULL_TIME_PROFESSIONAL']>=1.0,'IS_FULL_TIME_PROFESSIONAL'] = 1.0
df.loc[df['IS_FULL_TIME_ANESTHESIA']>=1.0,'IS_FULL_TIME_ANESTHESIA'] = 1.0

In [21]:
df.isna().sum()

khadamat_moshavere                           0
pezeshk_jarah                                0
komak_jarah                                  0
daroo_otagh_amal                             0
lavazem_amal                                 0
sonograghi                                   0
radiogeraghi                                 0
navarnegari                                  0
azmayeshat                                   0
asibshenasi                                  0
visit                                        0
bihoshi                                      0
othagh_amal                                  0
hoteling                                     0
parastari                                    3
sayer                                        0
EXTRA_FIRST_INSURANCE_AMOUNT            253533
EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT    253533
IS_FULL_TIME_PROFESSIONAL                 3824
IS_FULL_TIME_ANESTHESIA                 244696
SERVICE_ITEM_CODE                            0
GLOBAL_NATIONAL_CODE                         0
GENDER_TYPE                                  0
INSURED_AGE                                  0
ACCREDITATION_LEVEL_ID                       0
DEDUCTION_AMOUNT_PERCENT                     0
original_index                               0
dtype: int64

In [22]:
df['DEDUCTION_AMOUNT_PERCENT'] = np.round(df['DEDUCTION_AMOUNT_PERCENT'] * 100,2)

In [23]:
df.loc[(df['DEDUCTION_AMOUNT_PERCENT']==0.0) | (df['DEDUCTION_AMOUNT_PERCENT']==0),'target']=0
df.loc[((df['DEDUCTION_AMOUNT_PERCENT']>0.0) & (df['DEDUCTION_AMOUNT_PERCENT']<11.0)),'target']=1
df.loc[df['DEDUCTION_AMOUNT_PERCENT']>=11.0,'target']=1

In [24]:
df.groupby('target').size()

target
0.0    756043
1.0    161393
dtype: int64

In [25]:
df.drop(columns=['EXTRA_FIRST_INSURANCE_AMOUNT'],inplace=True)

In [26]:
df.fillna(0,inplace=True)

In [27]:
df.drop(columns=['DEDUCTION_AMOUNT_PERCENT'],inplace=True)

In [28]:
df.groupby('ACCREDITATION_LEVEL_ID').size()

ACCREDITATION_LEVEL_ID
2    808461
3     99460
4      2445
5      6607
6       463
dtype: int64

In [29]:
bins = [0, 5, 15, 25, 35,45,55,65,75, np.inf]
labels = ['0-5', '6-15', '16-25', '26-35','36-45','46-55','56-65','66-75', '76+']
df['age_category'] = pd.cut(df['INSURED_AGE'], bins=bins, labels=labels, right=True)

In [30]:
dict = {'0-5': 0 , '6-15': 1 , '16-25': 2 , '26-35': 3 ,'26-35':4 , '36-45':5 , '46-55':6 , '56-65':7 , '66-75':8 , '76+':9}
df['age_category_encode'] = df['age_category'].map(dict)

In [31]:
df[df['INSURED_AGE']== 5][['INSURED_AGE','age_category']]

        INSURED_AGE age_category
53                5          0-5
114               5          0-5
629               5          0-5
896               5          0-5
1094              5          0-5
...             ...          ...
917116            5          0-5
917118            5          0-5
917157            5          0-5
917243            5          0-5
917363            5          0-5

[3787 rows x 2 columns]

In [32]:
df[df['age_category_encode'].isna()]

,khadamat_moshavere,pezeshk_jarah,komak_jarah,daroo_otagh_amal,lavazem_amal,sonograghi,radiogeraghi,navarnegari,azmayeshat,asibshenasi,...,IS_FULL_TIME_ANESTHESIA,SERVICE_ITEM_CODE,GLOBAL_NATIONAL_CODE,GENDER_TYPE,INSURED_AGE,ACCREDITATION_LEVEL_ID,original_index,target,age_category,age_category_encode
877048,0.20062,8.476662,0.169533,1.746938,3.99183,0.05252,0.150369,0.082667,0.408264,0.80449,...,0.0,100160,990005,male,0,2,877048,0.0,NaN,NaN

In [33]:
df.loc[df['age_category_encode'].isna(),'age_category_encode'] = 0

In [34]:
dictAcc = {2: 0 , 3: 1 , 4: 1 , 5: 1, 6: 1}
df['ACCREDITATION_LEVEL_ID_category'] = df['ACCREDITATION_LEVEL_ID'].map(dictAcc)

In [35]:
df.groupby('ACCREDITATION_LEVEL_ID_category').size()

ACCREDITATION_LEVEL_ID_category
0    808461
1    108975
dtype: int64

In [36]:
df.drop(columns=['ACCREDITATION_LEVEL_ID','age_category'],inplace=True)

In [37]:
df.drop(columns=['INSURED_AGE'],inplace=True)

In [38]:
df['age_category_encode'].value_counts()

4    264550
2    172159
5    168390
8     76127
6     67800
7     67778
1     52460
9     35859
0     12313
Name: age_category_encode, dtype: int64

In [39]:
colNums = ['khadamat_moshavere',  'komak_jarah',
       'daroo_otagh_amal', 'lavazem_amal', 'sonograghi', 'radiogeraghi',
       'navarnegari', 'azmayeshat', 'asibshenasi', 'visit',
       'othagh_amal',   'sayer',
       'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT']

In [40]:
for c in colNums:
    adjusted_column = df[c] + 1
  # Step 4: Apply log transformation
    log_transformed_column = np.log(adjusted_column)
    colName = c + '_log'
    df[colName] = log_transformed_column

In [42]:
df.drop(columns=colNums,inplace=True)

In [43]:
import joblib

In [44]:
colsJeo = [ 'bihoshi' , 'hoteling', 'parastari',  'pezeshk_jarah']

In [45]:
joblib.dump(colNums, 'columnNameLogList.pkl')
joblib.dump(colsJeo, 'columnNameYeojohnsonList.pkl')

['columnNameYeojohnsonList.pkl']

In [46]:
df.loc[df['GENDER_TYPE'].isin(['UNDEFINED','UNKNOWN'] ),'GENDER_TYPE']='FEMALE'

In [47]:
df['IS_FULL_TIME_PROFESSIONAL'] = df['IS_FULL_TIME_PROFESSIONAL'].astype(int)
df['IS_FULL_TIME_ANESTHESIA'] = df['IS_FULL_TIME_ANESTHESIA'].astype(int)
df['target'] = df['target'].astype(int)

In [48]:
df =  pd.get_dummies(df, columns=['IS_FULL_TIME_PROFESSIONAL', 'IS_FULL_TIME_ANESTHESIA','GENDER_TYPE','ACCREDITATION_LEVEL_ID_category'])

In [49]:
df['IS_FULL_TIME_PROFESSIONAL_0'] = df['IS_FULL_TIME_PROFESSIONAL_0'].astype(int)
df['IS_FULL_TIME_PROFESSIONAL_1'] = df['IS_FULL_TIME_PROFESSIONAL_1'].astype(int)
df['IS_FULL_TIME_ANESTHESIA_0'] = df['IS_FULL_TIME_ANESTHESIA_0'].astype(int)
df['IS_FULL_TIME_ANESTHESIA_1'] = df['IS_FULL_TIME_ANESTHESIA_1'].astype(int)
df['GENDER_TYPE_FEMALE'] = df['GENDER_TYPE_FEMALE'].astype(int)
df['GENDER_TYPE_male'] = df['GENDER_TYPE_male'].astype(int)
df['ACCREDITATION_LEVEL_ID_category_0'] = df['ACCREDITATION_LEVEL_ID_category_0'].astype(int)
df['ACCREDITATION_LEVEL_ID_category_1'] = df['ACCREDITATION_LEVEL_ID_category_1'].astype(int)
df['target'] = df['target'].astype(int)

In [50]:
colss = ['khadamat_moshavere_log', 'komak_jarah_log',
       'daroo_otagh_amal_log', 'lavazem_amal_log', 'sonograghi_log',
       'radiogeraghi_log', 'navarnegari_log', 'azmayeshat_log',
       'asibshenasi_log', 'visit_log', 'othagh_amal_log', 'sayer_log',
       'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT_log', 'bihoshi',
       'hoteling', 'parastari', 'pezeshk_jarah']

In [51]:
colss

['khadamat_moshavere_log',
 'komak_jarah_log',
 'daroo_otagh_amal_log',
 'lavazem_amal_log',
 'sonograghi_log',
 'radiogeraghi_log',
 'navarnegari_log',
 'azmayeshat_log',
 'asibshenasi_log',
 'visit_log',
 'othagh_amal_log',
 'sayer_log',
 'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT_log',
 'bihoshi',
 'hoteling',
 'parastari',
 'pezeshk_jarah']

In [52]:
dictOutlier = {}

In [53]:
for c in colss:
    print(c)
    Q1 = df[c].quantile(0.10)
    Q3 = df[c].quantile(0.90)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    dictOutlier[c] = {'lower_bound':lower_bound , 'upper_bound':upper_bound}
    print(lower_bound)
    print(upper_bound)
    print('exp lower='+str(np.round(np.exp(lower_bound))))
    print('exp upper='+str(np.round(np.exp(upper_bound))))
    cnt =  df[(df[c] < lower_bound) | (df[c] > upper_bound)][[c]].size
    print(cnt)
    df.loc[(df[c] < lower_bound) | (df[c] > upper_bound),c]=np.nan
    print('---------------------------')

khadamat_moshavere_log
-0.4439742408000672
0.9007339216837409
exp lower=1.0
exp upper=2.0
24150
---------------------------
komak_jarah_log
-0.9523308100943344
1.5872180168238907
exp lower=0.0
exp upper=5.0
274
---------------------------
daroo_otagh_amal_log
-0.6812052077775589
2.5643940546542234
exp lower=1.0
exp upper=13.0
132
---------------------------
lavazem_amal_log
-1.3587969687435764
4.737369437775809
exp lower=0.0
exp upper=114.0
0
---------------------------
sonograghi_log
-0.13037815063650038
0.21729691772750065
exp lower=1.0
exp upper=1.0
8693
---------------------------
radiogeraghi_log
-0.3524290485130508
0.6679163466840967
exp lower=1.0
exp upper=2.0
19067
---------------------------
navarnegari_log
-0.23779836521957518
0.39633060869929193
exp lower=1.0
exp upper=1.0
9459
---------------------------
azmayeshat_log
-0.3389502225858655
1.0463142566469243
exp lower=1.0
exp upper=3.0
651
---------------------------
asibshenasi_log
-0.6577179427156978
1.0961965711928299
exp lower=1.0
exp upper=3.0
429
---------------------------
visit_log
-3.5916465709217507
5.986077618202918
exp lower=0.0
exp upper=398.0
0
---------------------------
othagh_amal_log
0.413451652517691
4.0084266875471455
exp lower=2.0
exp upper=55.0
37
---------------------------
sayer_log
-1.3163348840398625
2.2807347315316573
exp lower=0.0
exp upper=10.0
18219
---------------------------
EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT_log
-0.24619603255488365
0.41032672092480604
exp lower=1.0
exp upper=2.0
95
---------------------------
bihoshi
-42.51036260406144
70.8506043401024
exp lower=0.0
exp upper=5.888795928006113e+30
4
---------------------------
hoteling
-11.332963347319053
59.17704903372824
exp lower=0.0
exp upper=5.01494126197192e+25
104
---------------------------
parastari
-7.341777655254846
29.738471696062177
exp lower=0.0
exp upper=8227239836562.0
451
---------------------------
pezeshk_jarah
-56.02001565653551
126.41791371531467
exp lower=0.0
exp upper=7.991022256914805e+54
0
---------------------------

In [54]:
dictOutlier

{'khadamat_moshavere_log': {'lower_bound': -0.4439742408000672,
  'upper_bound': 0.9007339216837409},
 'komak_jarah_log': {'lower_bound': -0.9523308100943344,
  'upper_bound': 1.5872180168238907},
 'daroo_otagh_amal_log': {'lower_bound': -0.6812052077775589,
  'upper_bound': 2.5643940546542234},
 'lavazem_amal_log': {'lower_bound': -1.3587969687435764,
  'upper_bound': 4.737369437775809},
 'sonograghi_log': {'lower_bound': -0.13037815063650038,
  'upper_bound': 0.21729691772750065},
 'radiogeraghi_log': {'lower_bound': -0.3524290485130508,
  'upper_bound': 0.6679163466840967},
 'navarnegari_log': {'lower_bound': -0.23779836521957518,
  'upper_bound': 0.39633060869929193},
 'azmayeshat_log': {'lower_bound': -0.3389502225858655,
  'upper_bound': 1.0463142566469243},
 'asibshenasi_log': {'lower_bound': -0.6577179427156978,
  'upper_bound': 1.0961965711928299},
 'visit_log': {'lower_bound': -3.5916465709217507,
  'upper_bound': 5.986077618202918},
 'othagh_amal_log': {'lower_bound': 0.413451652517691,
  'upper_bound': 4.0084266875471455},
 'sayer_log': {'lower_bound': -1.3163348840398625,
  'upper_bound': 2.2807347315316573},
 'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT_log': {'lower_bound': -0.24619603255488365,
  'upper_bound': 0.41032672092480604},
 'bihoshi': {'lower_bound': -42.51036260406144,
  'upper_bound': 70.8506043401024},
 'hoteling': {'lower_bound': -11.332963347319053,
  'upper_bound': 59.17704903372824},
 'parastari': {'lower_bound': -7.341777655254846,
  'upper_bound': 29.738471696062177},
 'pezeshk_jarah': {'lower_bound': -56.02001565653551,
  'upper_bound': 126.41791371531467}}

In [55]:
joblib.dump(dictOutlier, 'dictOutlier.pkl')

['dictOutlier.pkl']

In [56]:
print(df.shape)
df = df.dropna()
print(df.shape)

(917436, 30)
(841203, 30)

In [57]:
df.groupby('target').size()

target
0    696116
1    145087
dtype: int64

In [59]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
import sklearn.preprocessing as preprocessing

In [ ]:
X = df.drop('target', axis=1)
y = df['target']

# Perform train-test splits
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y, shuffle=True)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42, stratify=y_temp, shuffle=True)

# The 'original_index' is now preserved in each of the split DataFrames
# You can access them like this:
X_train_indices = X_train['original_index']
X_val_indices = X_val['original_index']
X_test_indices = X_test['original_index']

In [ ]:
dff.loc[X_train_indices][['SERVICE_ITEM_CODE','GLOBAL_NATIONAL_CODE']]

In [ ]:
X_train.drop(columns=['original_index'],inplace=True)
X_val.drop(columns=['original_index'],inplace=True)
X_test.drop(columns=['original_index'],inplace=True)

In [ ]:
all_service_codes = pd.concat([X_train['SERVICE_ITEM_CODE'], X_test['SERVICE_ITEM_CODE'] ,X_val['SERVICE_ITEM_CODE']]).unique()
all_global_codes = pd.concat([X_train['GLOBAL_NATIONAL_CODE'], X_test['GLOBAL_NATIONAL_CODE'],X_val['GLOBAL_NATIONAL_CODE']]).unique()


le_service = preprocessing.LabelEncoder().fit(all_service_codes)
le_global = preprocessing.LabelEncoder().fit(all_global_codes)


# Now transform the columns in the training and test sets
X_train['SERVICE_ITEM_CODE'] = le_service.transform(X_train['SERVICE_ITEM_CODE'])
X_train['GLOBAL_NATIONAL_CODE'] = le_global.transform(X_train['GLOBAL_NATIONAL_CODE'])


label_encoders = {}
label_encoders['SERVICE_ITEM_CODE'] = le_service
label_encoders['GLOBAL_NATIONAL_CODE'] = le_global


X_val['SERVICE_ITEM_CODE'] = le_service.transform(X_val['SERVICE_ITEM_CODE'])
X_val['GLOBAL_NATIONAL_CODE'] = le_global.transform(X_val['GLOBAL_NATIONAL_CODE'])


X_test['SERVICE_ITEM_CODE'] = le_service.transform(X_test['SERVICE_ITEM_CODE'])
X_test['GLOBAL_NATIONAL_CODE'] = le_global.transform(X_test['GLOBAL_NATIONAL_CODE'])

In [ ]:
joblib.dump(label_encoders, 'labelEncoderList.pkl')

In [ ]:
lambdas = {}
for c in colsJeo:
    adjusted_column = X_train[c]
    # Step 4: Apply log transformation
    transformed_data, lambda_ = stats.yeojohnson((adjusted_column))
    print(lambda_)
    colName = c + '_yeo'
    X_train[colName] = transformed_data
    lambdas[c] = lambda_

In [ ]:
joblib.dump(lambdas, 'lambdaYeojohnsonList.pkl')

In [ ]:
X_val.columns

In [ ]:
for column in colsJeo:
    lambda_ = lambdas[column]
    X_val[f'{column}_yeo'] = stats.yeojohnson(X_val[column].values, lmbda=lambda_)
    X_test[f'{column}_yeo'] = stats.yeojohnson(X_test[column].values, lmbda=lambda_)

In [ ]:
X_train.drop(columns=colsJeo,inplace=True)
X_val.drop(columns=colsJeo,inplace=True)
X_test.drop(columns=colsJeo,inplace=True)

In [ ]:
print(X_train.columns)
print(X_val.columns)
print(X_test.columns)

In [ ]:
colsNum =  ['khadamat_moshavere_log', 'komak_jarah_log',
       'daroo_otagh_amal_log', 'lavazem_amal_log', 'sonograghi_log',
       'radiogeraghi_log', 'navarnegari_log', 'azmayeshat_log',
       'asibshenasi_log', 'visit_log', 'othagh_amal_log', 'sayer_log',
       'EXTRA_FIRST_INSURANCE_AMOUNT_PERCENT_log', 'bihoshi_yeo',
       'hoteling_yeo', 'parastari_yeo', 'pezeshk_jarah_yeo']

In [ ]:
from sklearn.preprocessing import  MinMaxScaler
# scalers = {}
# numerical_cols = colsNum
# for col in numerical_cols:
#     scaler = MinMaxScaler()
#     X_train[col] = scaler.fit_transform(X_train[[col]])
#     scalers[col] = scaler
#     X_val[col] = scaler.transform(X_val[[col]])
#     X_test[col] = scaler.transform(X_test[[col]])

In [ ]:
from sklearn.preprocessing import  StandardScaler
scalersSt = {}
numerical_cols = colsNum
for colSt in numerical_cols:
    scalerSt = StandardScaler()
    X_train[colSt] = scalerSt.fit_transform(X_train[[colSt]])
    scalersSt[colSt] = scalerSt
    X_val[colSt] = scalerSt.transform(X_val[[colSt]])
    X_test[colSt] = scalerSt.transform(X_test[[colSt]])

In [ ]:
joblib.dump(scalersSt, 'standardScalerList.pkl')

In [ ]:
joblib.dump(colsJeo, 'columnNameYeojohnsonList.pkl')

In [ ]:
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import classification_report, confusion_matrix, f1_score

In [ ]:
model = xgb.XGBClassifier(scale_pos_weight=4, random_state=42,enable_categorical=True,learning_rate =0.12225543951389925 , max_depth = 9 , n_estimators = 497 , subsample = 0.9937955963643907  )

In [ ]:
best_param =  {'learning_rate': 0.12225543951389925, 'max_depth': 9, 'n_estimators': 497, 'subsample': 0.9937955963643907}

In [ ]:
eval_set = [(X_val, y_val)]  # Use validation set for early stopping
model.fit(X_train, y_train,eval_set= eval_set, early_stopping_rounds=50, verbose=False)

In [ ]:
y_pred = model.predict(X_test)
y_train_pred = model.predict(X_train)

print("F1 Score on Test Data: ", f1_score(y_test, y_pred))
print("Train Data Classification Report:")
print(classification_report(y_train, y_train_pred))
print("Test Data Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

In [ ]:
joblib.dump(model, 'modelXgboost.pkl')

In [ ]:
joblib.dump(X_train.columns, 'columnNameList.pkl')

In [ ]:
y_pred_df = pd.DataFrame(y_pred, columns=['predictions'], index=X_test_indices.index)
# Concatenate predictions with the backup DataFrame
df_final_testt = pd.concat([dff, y_pred_df], axis=1)